<mat-card id="terminal">
    <mat-card-title>yogdaan</mat-card-title>
    <mat-card-subtitle>bash</mat-card-subtitle>
  <mat-card-content>
  <div class="mainTerm">
    <ul>
      <li *ngFor="let command of commands;">
        <span class="user-command"><span class="admin">git@yogdaan $~ </span>{{command}}</span>
      </li>
      <li>
         <span class="user-command"><span class="admin">git@yogdaan $~ </span><input id="input-cli" type="text" width="100" (ngModel)="cli" (keypress)="executeCommand($event)" name="cli"></span>
      </li>
    </ul> 
  </div>
  </mat-card-content>
</mat-card>
